@import './colors.module.scss';


.squareImg{
    position: absolute;
    z-index: 3;
    top: -10%;
    left: 13%;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.308);
}

.imgBox{
    position: relative;
    height: 280px;
    width: 280px;
    &:hover{
        .img{
            filter: grayscale(0%) contrast(1.1) brightness(1);
            transform: translate(10px, -10px);
        }
        .imgGlass{
            top: 30px;
            opacity: 0.4;
            filter: grayscale(0%) contrast(1.1) brightness(1.5) blur(35px);
        }
    }
}

.img{
    filter: grayscale(100%) contrast(1.1) brightness(0.6);
    position: relative;
    object-fit: cover;
    border-radius: 14px;
    transition: all 0.1s ease-in-out;
    z-index: 2;
}

.imgGlass{
    border-radius: 14px;
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 40px;
    left: 10px;
    opacity: 0.6;
    z-index: 1;
    filter: grayscale(100%) contrast(1.1) brightness(0.6) blur(30px);
}

.xBox{
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x{
    -webkit-text-stroke: 0.3px $primary-color;
    color: transparent;
    font-size: 3.5em;
    font-weight: 700;
}

.delay3{animation-delay: -4s !important; }
.delay7{animation-delay: -8s !important;}
.delay11{animation-delay: -12s !important;}
.animate{animation: animate-forms 16s cubic-bezier(0, 0, 0, 0) infinite;}


@keyframes animate-forms{
    0%{
        transform: rotate(0deg);
        top: -10%;
        left: -10%;
    }
    25%{
        transform: rotate(360deg);
        top: -10%;
        left: 90%;
    }
    50%{
        transform: rotate(900deg);
        left: 90%;
        top: 90%;
    }
    75%{
        transform: rotate(1280deg);
        top: 90%;
        left: -10%;
    }
    100%{
        top: -10%;
        left: -10%;
        transform: rotate(1800deg);
    }
}

.topics{
    li{
        @apply relative pl-4;
        &::before{
            content: "▹";
            left: 0;
            position: absolute;
            color: $primary-color;
        }
    }
}