@import './colors.module.scss';



.experience{
    @apply ml-14;
    ul li{
        @apply relative pl-8;
        &::before{
            content: "▹";
            left: 0;
            position: absolute;
            color: $primary-color;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.tab{
    position: relative;
    background-color: $transparency-color;
    &::before{
        content: "";
        position: absolute;
        left: -12px;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: $primary-color;
        box-shadow: 0 0 40px 0 $primary-color;
        border-radius: 3px;
    }

}